.DS_Store
Thumbs.db
.idea
.husky
.local
*.sublime*

.env
*.log

node_modules
npm-debug.log
dist

visuals
.eslintcache
.tsbuildinfo

cypress/videos
cypress/screenshots

coverage/

storybook-static/

.idea/

.storybook-out/
storybook-static

src/common/assets/l10n/

screenshotTests/screenshots/tmp/*.png
screenshotTests/screenshots/diff/*.png
